
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
}

.navbar .logo img {
    height: 40px;
    
}


.navbar nav {
    flex-grow: 1; 
    margin-left: 20px;
}

.navbar nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-start; 
    gap: 20px; 
}

.navbar nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
    color: #00bcd4;
}


.hero {
    text-align: center;
    padding: 20px 20px;
    background-color: #007acc;
    color: #fff;
}

.hero h1 {
    font-size: 2em;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1em;
    margin-bottom: 20px;
}




.info-section {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.info-section h2 {
    color: #333;
    margin-bottom: 15px;
}

.info-section ul {
    list-style: none;
    padding: 0;
}

.info-section ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.info-section ul li:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.info-section ul li a {
    text-decoration: none;
    color: #007acc;
    font-weight: bold;
}

.info-section ul li a:hover {
    color: #005f7f;
}


.add-table-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00bcd4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.add-table-btn:hover {
    background-color: #007acc;
}


.edit-btn {
    padding: 5px 10px;
    background-color: #00bcd4;
    color:white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    
}



footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

footer .social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px 0 0;
    padding: 0;
}

footer .social-links li {
    margin: 0 10px;
}

footer .social-links li a {
    text-decoration: none;
    color: #00bcd4;
}

footer .social-links li a:hover {
    color: #fff;
}


