<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Homepage {% endblock %}</title>
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='branch.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}"> 
</head>
<body>
    
    <header class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                
                
            </ul>
        </nav>
    </header>

    
    <main>
        {% block content %}
        
        {% endblock %}
        
  
    </main>

   
    <footer>
        <p>&copy; Developed by Mahanthesh </p>
        <ul class="social-links">
            
            <li><a href="https://www.linkedin.com/in/mahanthesh-h-r">LinkedIn</a></li>
        </ul>
    </footer>
</body>
</html>
